body {
    background-color: #f9f7cf;
    padding: 5px;
    width: 480px;
}
header {
    background-color: #f2dcbb;
    padding: 15px;
}
footer {
    background-color: #f2dcbb;
    padding: 15px;
}

